

<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="~/assets/manifest.json">
    <meta name="google-site-verification" content="TvM1Q9CAyxArI8mHsMUIsh-1URjA9XhfQzD8FZw7XV8" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta property="og:site_name" content="الهدا العقارية">
    <meta http-equiv="Content-Language" content="ar">
    <meta name="keywords" content=" شقق للبيع , شقق مفروشة , فلل للبيع , اراضي للبيع , منازل للبيع , منتجعات سياحية للايجار , في , الاردن , عمان , realestates ,jordan  ,amman real estates  ,real estates  , amman , jo ,عمان الغربيه  , عقاري ,متخصصون بيع و شراء الشقق والعقارات  ,  شراء الشقق ,بيع الشقق , العقارات , مؤسسة الهدا العقارية, الوساطة العقارية,الهدا العقارية ,الهدا ,عمان شقق , عمان فلل, عمان عقارات, عمان اراضي, عمان أراضي,تسوية , أرضي, كراج ,حديقة ,روف">

    <meta name="author" content="alhadaestate.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <meta property="og:type" content="website" />
    <meta name="description" content="
              مؤسسة الهدا العقارية. متخصصون ببيـــع و شـــراء الشقق والعقارات و خدمة الوساطة العقارية - خدمات استشارات و استثمارات عقارية - خدمات تسويق عقاري - خدمات دراسة الجدوى الإقتصادية, عمان الغربيه - الاردن ">
    <meta name="og:description" content="
              مؤسسة الهدا العقارية. متخصصون ببيـــع و شـــراء الشقق والعقارات و خدمة الوساطة العقارية - خدمات استشارات و استثمارات عقارية - خدمات تسويق عقاري - خدمات دراسة الجدوى الإقتصادية, عمان الغربيه - الاردن ">
    <title>Alhada Estates - الهدا العقارية</title>
    <meta name="og:title" content="الهدا العقارية" />
    <meta property="og:url" content="http://alhadaestate.com/" />
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNhcIW1kz-lA_DVq49Z_UwGUZ2r5e7hqY"></script>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css" />
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/fonts/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/vendor/owl-carousel/owl.carousel.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/vendor/owl-carousel/owl.theme.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/vendor/flexslider/flexslider.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/chosen/chosen.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme-animate.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme-elements.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme-blog.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme-map.css" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme.css?v=13" rel='stylesheet' type='text/css'>
    <link href="~/assets/css/theme-responsive.css?v=13" rel='stylesheet' type='text/css'>
    <script src="~/assets/chosen/chosen.jquery.min.js" defer="defer"></script>

    <script src="~/assets/vendor/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js" defer="defer"></script>
    <script src="~/assets/vendor/owl-carousel/owl.carousel.js" defer="defer"></script>
    <script src="~/assets/vendor/flexslider/jquery.flexslider-min.js" defer="defer"></script>
    <script src="~/assets/chosen/chosen.jquery.min.js" defer="defer"></script>
    <script src="~/assets/vendor/masonry/imagesloaded.pkgd.min.js" defer="defer"></script>
    <script src="~/assets/vendor/masonry/masonry.pkgd.min.js" defer="defer"></script>
    <!-- Theme Initializer -->
    <script src="~/assets/js/setMarkerOnMAP.js" async></script>
    <script src="~/assets/js/mapapi.js?v=2" async></script>
    <script src="~/assets/js/theme.plugins.js" defer="defer"></script>
    <script src="~/assets/js/theme.js?v=21" defer></script>
    <!--<script src="~/assets/vendor/gmap/gmap3.infobox.min.js" defer="defer"></script>-->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="~/assets/js/tinymce.js" defer></script>


    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84359177-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments)
        }
        ;
        gtag('js', new Date());

        gtag('config', 'UA-84359177-2');
    </script>



</head>

<body>
    <header>
        <div id="top">


            <div class="container">
                <p class="pull-left text-note hidden-xs"><i class="fa fa-phone"></i> <a href="tel:00962795857664"> 00962795857664</a> للمساعدة</p>
                <ul class="nav nav-pills nav-top navbar-right">
                    <li class="login">
                        <a asp-action="Index" asp-controller="user" title="نسجيل الخروج"><i class="fa fa-sign-out"></i></a>
                    </li>
                    <li id="inbox" class="activeInbox"><a asp-action="Inbox" asp-controller="Admin" title=" البريد الوارد" data-placement="bottom" data-toggle="tooltip" data-original-title="Email"><i class="fa fa-envelope-o"></i><span id="bage" class="bage">3504</span></a></li>
                    <li><a href="https://web.facebook.com/MwsstAlhdaAlqaryt/" target="_blank" title="MwsstAlhdaAlqaryt" data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-default pgl-navbar-main" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="logo" asp-action="Index" asp-controller="User"><img src="~/assets/images/logo-1.png" alt="Flatize"></a>
                </div>
                <div class="navbar-collapse collapse width">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="http://test.upright-jo.com/Clients/new_clients/#" class="dropdown-toggle disabled" data-toggle="dropdown"> إدارة الموقع</a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Users" asp-controller="Admin" class=""> المستخدمين</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="http://test.upright-jo.com/Clients/new_clients/#" class="dropdown-toggle disabled" data-toggle="dropdown">ملفاتي</a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="MyEstate" asp-controller="Admin" class="">عقاراتي</a></li>
                                <li><a asp-action="MyClient" asp-controller="Admin" class="">زبائني</a></li>
                                <li><a asp-action="AddClient" asp-controller="Admin" class="active"> إضافة زبائن </a></li>
                                <li><a asp-action="MyProfile" asp-controller="Admin" class="">  ملفي </a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="http://test.upright-jo.com/Clients/new_clients/#" class="dropdown-toggle disabled" data-toggle="dropdown">العقارات</a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="AddEstate1" asp-controller="Admin" class="">إضافة عقار جديد</a></li>
                                <li><a asp-action="AddEstate2" asp-controller="Admin" class="">إضافة عقار لمرجع موجود</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="http://test.upright-jo.com/Clients/new_clients/#" class="" data-toggle="dropdown">الأراضي</a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="SearchLand" asp-controller="Admin" class=""> بحث  </a></li>
                                <li><a asp-action="AddLand" asp-controller="Admin" class="">إضافة أرض جديدة</a></li>
                                <!--<li><a href="http://test.upright-jo.com/Lands/new_land_to_ref" class="">إضافة أرض لمرجع موجود</a></li>-->
                            </ul>
                        </li>
                        <li><a asp-action="Index" asp-controller="Admin" class="">الرئسية</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </header>


    @RenderBody()
    <footer class="pgl-footer">
        <div class="container">
            <div class="pgl-upper-foot">
                <div class="row ar">
                    <div class="col-sm-5 ar">
                        <h2>تواصل معنا</h2>
                        <p>
                            مؤســسة الهـدا العقاريـه<br>
                            خـلدا - اشـارة البنك العربي .<br>
                            مقابل البنك الاسلامي الاردني - عماره 114.
                        </p>

                    </div>
                    <div class="col-sm-3">
                        <h2>ارقام التواصل</h2>
                        <address class='ar'>
                            <i class="fa fa-map-marker"></i> المكتب:<a href='tel:00962795857664' class="en">00962795857664</a><br>
                            <i class="fa fa-phone"></i> الموبايل: <a href="tel:00962796673075" class="en">00962796673075 </a><br>
                        </address>
                    </div>
                    <div class="col-sm-3">
                        <h2>WhatsApp</h2>
                        <address class='ar'>
                            <i class="fa fa-whatsapp"></i> <a class="en" href="whatsapp://send?text=&phone=+962795857664">00962795857664 </a><br>
                            <i class="fa fa-whatsapp"></i> <a class="en" href="whatsapp://send?text=&phone=+962796673075">00962796673075 </a><br>
                        </address>
                    </div>
                </div>
            </div>
            <div class="pgl-copyrights">
                <p> جميع الحقوق محفوظ <span class='copyright-text '>©2017 &nbsp;</span>تصميم   <a href="http://alhadaestate.com/">AlhadaRealEstast</a></p>

            </div>
        </div>
    </footer>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
